body {
  font-family: sans-serif;
  background-color: #c5f7f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}
li {
  list-style: none;
}

.red {
  cursor: pointer;
  margin-left: 10px;
  border: none;
  background-color: rgb(255, 0, 0);
  border-radius: 8px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 600;
}

.yellow {
  cursor: pointer;
  margin-left: 10px;
  border: none;
  background-color: rgb(223, 211, 53);
  border-radius: 8px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 600;
}

.green {
  cursor: pointer;
  margin-left: 10px;
  border: none;
  background-color: rgb(3, 179, 3);
  border-radius: 8px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 600;
}
